# Build outputs
bin/
obj/
/packages/
artifacts/

# IDE folders
.idea/
.vs/
.vscode/
.run/
riderModule.iml
/_ReSharper.Caches/
*.user
*.suo
*.DotSettings.user

# Temporary files
.cache/
.local/
.dotnet/
.wix/
test-msi/

# Logs
*.binlog
*.log
